<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>

    <style>
      div {
        display: inline-block;
      }
      h4 {
        margin: 0;
      }
    </style>
  </head>

  <body>
    <h2>Total Items: <span id="count">0</span></h2>
    <div>
      <h4>Name</h4>
      <input class="name-input" type="text" />
    </div>
    <div>
      <h4>Birth date</h4>
      <input class="dob-input" type="date" />
    </div>
    <button class="add-person">Add</button>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Birth Date</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody class="persons-list"></tbody>
    </table>
  </body>

  <!-- Templates -->
  <script type="text/template" class="persons-list-template">
    <td><%= name %></td>
    <td><%= dob %></td>
    <td><button class="delete-person">Delete</button></td>
  </script>

  <!-- Dependencies -->

  <script src="src/js/jquery-3.4.1.min.js"></script>
  <script src="src/js/underscore-min.js"></script>
  <script src="src/js/backbone-min.js"></script>
  <script src="src/js/person-model.js"></script>
</html>
